//create file .env in your main project directory and define in it the environmental variables you see here with real values.
//.env file is gitignored for security reasons.

MONGODB_URI="mongodb://<user>:<password>@<mlabinstance>.mlab.com:41869/<dbname>" //see better example at mlab when logged in or ask me ;)