/* Google Fonts */
/*@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);*/

body {
    background: #282828;
}
a {
    color:#666;
}
a:hover, a:focus {
    color:#222;
}
input:focus {
    outline-width: 1px;
    outline-color: #2b994f;
}

.modal-content {
    border-radius:0;
}

.modal-footer {
    margin-top: 15px;
    padding: 8px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: #f3f3f3;
}
.modal-body {
    color:#777;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #b9b7b7;
    min-height: 16.42857143px;
    background: #3fc378;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 17px;
}
.modal-title {
    font-size:11px;
}
.modal-header .close {
    margin-top:-5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.admin-body {
    background:#555;
}

h1, .h1 {
    font-size: 48px;
    color: #fff;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.4);
}

h2 {
    font-size:14px;
}


h4 span {
    color: #a0b342;
    margin-right:5px;
}

.navbar-default {
    background:#329c4f;
    color:#cdcdcd;
    border:none;
    border-radius:0;
    height:60px;
}

.navbar-default .navbar-nav>li>a {
    color: hsla(0,0%,100%,.7);
    font-size: 12px;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 60px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a.active{
    border-bottom: 3px solid #fff;
    color: #fff;
    background-color: #33ab61;
}

#home-container {
    padding-top:15px;
}

#home-container .base-container {
    background: rgba(50, 50, 50, 0.7);
}

.play-btn {
    margin-bottom: 30px;
}

.play-btn {
    font-size: 20px;
    padding: 8px 22px;
    display: inline-block;
    border: 2px solid #cdcdcd;
    border-radius: 30px;
    color: #cdcdcd;
    font-weight: bold;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323232+0,0c0d0f+50,0d0e10+100 */
    background: #323232; /* Old browsers */
    background: -moz-linear-gradient(top,  #323232 0%, #0c0d0f 50%, #0d0e10 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #323232 0%,#0c0d0f 50%,#0d0e10 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #323232 0%,#0c0d0f 50%,#0d0e10 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#0d0e10',GradientType=0 ); /* IE6-9 */

}
.play-btn a:hover {
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.avatar {
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 0px 0px 15px #000;
    width: 120px;
    cursor:pointer;
    opacity:0.5;
}
.avatar-active {
    border: 5px solid #00ff1f;
    opacity:1;
}

.start-image {
    background-image: url(../../assets/img/background_01.jpg);
    background-size: cover;
    position: relative;
    height: 780px;
    overflow: hidden;
}

/*
    bootstrap overwrite
*/
.btn-primary {
    color: #fff;
    background-color: #0E7920;
    border-color: #089143;
    border-radius:2px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0F8622;
    border-color: #08C158;
}
/*
---------------------------
*/

.selected-role-container{
    position:absolute;
    left:230px;
    top:5px;
   padding-right: 15px;
    height: 51px;
    box-shadow: inset 0px 2px 11px -1px #000;
    width: 203px;
    background: rgba(0, 0, 0, 0.2);

}
.selected-role-container img {
    width: 41px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    float:left;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: -1px 1px 0px 2px #3F3D3D;
}

.selected-role {
    font-weight: bold;
    color: rgb(253, 255, 163);
    text-shadow: 1px 1px 3px #2A2A2A;
    margin-top: 5px;
    float:left;
}

.role {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow:  inset 2px 2px 18px 5px rgba(0, 0, 0, 0.2), -2px 2px 3px 2px rgba(111, 111, 111, 0.35);
    box-shadow: inset 2px 2px 18px 5px rgba(0, 0, 0, 0.2), -2px 2px 3px 2px rgba(111, 111, 111, 0.35);
    background: rgba(145, 140, 140, 0.7);
    border: 3px solid #fff;
    padding-left: 15px;

}
.role img {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: -2px 2px 3px 2px #3F3D3D;
    opacity: 0.5;
}


/* Pop */
@-webkit-keyframes pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.pop-active{
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.active-role{
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    background: yellowgreen;
    opacity:1;
    border-color: yellow;
    -webkit-box-shadow: inset -2px 2px 10px 0px rgba(0, 0, 0, 0.2), -2px 2px 3px 2px rgba(111, 111, 111, 0.35) ;
    box-shadow: inset -2px 2px 10px 0px rgba(0, 0, 0, 0.2), -2px 2px 3px 2px rgba(111, 111, 111, 0.35);
}



.active-role img{
    border-color: yellow;
    opacity:1 !important;
}

.white-background {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), -1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 4px rgba(0, 0, 0, 0.0), 0 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 5px solid #fff;
    background: #453B3B;

}

.home-layout {
    border-radius: 4px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00000a+0,0c0d0f+50,0d0e10+100 */
    background: #00000a; /* Old browsers */
    background: -moz-linear-gradient(top,  #00000a 0%, #0c0d0f 50%, #0d0e10 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #00000a 0%,#0c0d0f 50%,#0d0e10 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #00000a 0%,#0c0d0f 50%,#0d0e10 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000a', endColorstr='#0d0e10',GradientType=0 ); /* IE6-9 */

    padding: 15px;
    border: 1px solid #0a0b0d;
    height: 140px;
}

.input-login {
    margin: 30px 0;
    width: 264px;
    text-align: center;
    padding: 15px;
    font-size: 19px;
    color: white;
    background: rgb(34, 34, 34);
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    box-shadow: inset -1px 2px 15px rgba(0,0,0,0.5), 0px 1px 1px 1px #434343;
    text-shadow: 1px 1px 1px #000000;
    font-weight: bold;
}
.input-login:focus {
    /*outline-width: 0;*/
    /*background: rgb(252, 219, 52) !important;*/
    /*border: 1px solid #99820B;*/
    /*box-shadow: inset -1px 2px 7px #895802, 0px 1px 1px 1px #F9FFA6;*/


}

.input-login::-webkit-input-placeholder {
    /*color: #745614;*/
    /*text-shadow: none;*/
}

.input-login:-moz-placeholder {
    /*color: #745614;*/
    /*text-shadow: none;*/
}

.input-login::-moz-placeholder {
    /*color: #745614;*/
    /*text-shadow: none;*/
}

.input-login:-ms-input-placeholder {
    /*color: #745614;*/
    /*text-shadow: none;*/
}

.button-skin {
    cursor:pointer;
    border: 2px solid #FFF193;
    padding: 15px;
    font-size: 27px;
    width: 193px;
    text-align: center;
    border-radius: 10px;
    color: #F9FF91;
    text-shadow: 0px -1px 12px #BA5F1E;
    box-shadow: inset 0px 2px 9px #D09C14, 0px 2px 3px 2px rgba(0, 0, 0, 0.35);
    font-weight: bold;
    background: #fcc632;
    background: -moz-linear-gradient(top, #fcc632 0%, #ffd930 50%, #f7b927 50%, #A55202 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcc632), color-stop(50%,#ffd930), color-stop(50%,#f7b927), color-stop(100%,#A55202));
    background: -webkit-linear-gradient(top, #fcc632 0%,#ffd930 50%,#f7b927 50%,#A55202 100%);
    background: -o-linear-gradient(top, #fcc632 0%,#ffd930 50%,#f7b927 50%,#A55202 100%);
    background: -ms-linear-gradient(top, #fcc632 0%,#ffd930 50%,#f7b927 50%,#A55202 100%);
    background: linear-gradient(to bottom, #fcc632 0%,#ffd930 50%,#f7b927 50%,#A55202 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc632', endColorstr='#A55202',GradientType=0 );
    margin-top: 15px;
}
.play {

}

.secondary-button {
    cursor:pointer;
    margin-top: 15px;
    border: 2px solid #FFF193;
    padding: 15px;
    font-size: 27px;
    width: 190px;
    text-align1: center;
    border-radius: 10px;
    color: #F9FF91;
    text-shadow: 0px -1px 12px #4669DA;
    box-shadow: inset 0px 2px 9px #4669DA, 0px 2px 3px 2px rgba(0, 0, 0, 0.35);;
    font-weight: bold;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 0%, #12AED8 50%, #0D57CA 50%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#12AED8), color-stop(50%,#0D57CA), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#12AED8 50%,#0D57CA 50%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#12AED8 50%,#0D57CA 50%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#12AED8 50%,#0D57CA 50%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#12AED8 50%,#0D57CA 50%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}
.options {

}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

.role-rating {
    position: absolute;
    right: 27px;
    top: 55px;
    box-shadow: inset -1px 3px 9px 0px rgba(255, 255, 255, 0.7), -1px 2px 1px 0px rgba(18, 18, 18, 0.6);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid rgba(129, 132, 122, 0.4);
}

.img-container {
    padding-right: 1px;
    margin-top: 15px;
    margin-bottom: 15px
}
.role-info-container {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 83px;
    margin-left: 12px;
    width: 120px;
    padding-top: 11px;
}

.role-name {
    cursor:pointer;
    font-weight: bold;
    color: rgb(253, 255, 163);

    position: absolute;
    left: 103px;
    top: 6px;
    width: 104px;
    height: 77px;
    line-height: 16px;
    text-shadow: 1px 1px 3px #2A2A2A;
    padding-top: 10px;
    background: rgba(40, 40, 40, 0.2);
    border: 1px solid rgba(0,0,0,0.1);
}
.role-name:hover{
    color: rgb(238, 255, 87);

}

.text-label {
    color: #FFF872;
    padding-left: 15px;
    font-weight: bold;
    font-size: 18px;
    text-shadow: -1px 1px 1px rgba(98, 64, 0, 0.7);
}

.chosen-role-container{
    margin: 0 0 10px;
    padding: 20px;
    background: rgb(100, 160, 174);
    color: #fff;
    font-weight: bold;
    border: 1px solid #E8FD67;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #0C3D3F;
    box-shadow: inset -1px 1px 7px 0px rgba(0, 0, 0, 0.3);
}



.base-container {
    z-index: 9999;
    width:100%;
    padding-bottom:15px;
    min-height:100px;
    background: rgba(50, 50, 50, 1);
    border: 1px solid rgba(0,0,0,0.1);
    color:#d8d8d8;
    margin-bottom: 15px;
}
.base-container label{
    font-size: 14px;
    font-weight: normal;
    text-shadow: -1px 1px 3px rgba(0,0,0,0.5);
}

.base-container p {
    padding: 15px;
    color: rgb(251, 234, 181);
    text-shadow: -1px 1px 3px rgba(0,0,0,0.5);
}
.base-container h3{
    width: 100%;
    height: 46px;
    display: block;
    background: rgba(0,0,0,0.15);
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0;
    font-size: 14px;
}
.base-container .text-container {
    padding: 3px;
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 30px;
    height: 27px;
    margin-left: 11px;
    margin-top: -3px;
}
.base-container input[type="text"] {
    padding: 6px 12px;
    background: rgb(30, 30, 30);
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
}
.base-container textarea {
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0,0,0,0.1);
}

/*
    Info container css
*/


.info-container {
    right:0;
    font-weight: bold;
    color: rgb(253, 255, 163);
    text-shadow: 1px 1px 3px #2A2A2A;
    width: 350px;
    padding:15px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*

    Control menu css

*/

.control-menu {
    width:390px;
    position: fixed;
    z-index: 999999;
}
.control-menu-select {
    padding: 3px;
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0,0,0,0.1);
}

.control-menu-row {
    margin-top: 15px;
}

.edit-menu {
    right:0;
}

.player-menu {
    left:0;
    min-height:300px;
}

.player-menu .start-test-text {
    position: absolute;
    top: 0;
    padding-left: 115px;
    pointer-events: none;
}

.tile-menu {
    bottom:0;
    height: 174px;
    overflow:hidden;
    margin-bottom:0 !important;
}

.ground-menu {
    overflow:hidden;
}

.info-text-container .image-preview {
    display:none;
}



.image-preview {
     width: 86px;
     border: 1px solid rgba(0,0,0,0.2);
     background: rgba(0,0,0,0.4);
     padding: 5px;
 }

.ground-preview {
    width: 48px;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.4);
    padding: 5px;
}

.thumb-container {
    float:left;
    cursor: pointer;
    padding:2px;
    position:relative;
}
.thumb-label {
    padding: 3px;
    font-size: 11px;
    background: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    color: #7E7E7E;
    position: absolute;
    width: 86px;
}
.ground-label{
    padding: 3px;
    font-size: 10px;
    background: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    text-align: center;
    width: 49px;
}

.thumb-container:hover {
    border: 2px solid rgba(181, 255, 0, 0.2);
    padding:0px;
}
.thumb-container-selected {
    border: 2px solid rgba(181, 255, 0, 0.7);
    padding:0;
}
.thumb-container-selected:hover {
    border: 2px solid rgba(181, 255, 0, 0.7);
    padding:0px;
}
.tiles-container {
    padding-left: 42px;
    padding-right: 42px;
    margin-top: 2px;
}
.tiles-right {
    right: 15px;
}
.tiles-left {
    left: 15px;
}
.tiles-control {
    position:absolute;
    height: 118px;
    width: 25px;
    margin-top: 2px;
    border: 1px solid rgba(40, 40, 40, 0.7);
    background: rgba(0, 0, 0, 0.6);
    padding-top: 45px;
    font-size: 20px;
    color: rgb(26, 26, 26);
    cursor:pointer;
}
.tiles-control:hover {
    border: 1px solid rgba(50, 50, 50, 0.7);
    color: rgb(50, 50, 50);
}
.toggle-search-type {
    margin-left: 8px;
    padding: 5px;
}
.grid-map-transform {
    opacity:0;
    /*position: absolute;*/
    -moz-transform: rotate(-45deg) skew(15deg, 15deg);
    -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
    -ms-transform: rotate(-45deg) skew(15deg, 15deg);
    transform: rotate(-45deg) skew(15deg, 15deg);
    /*background:#70ae0d;*/
}

.coordinates{
    position:absolute;
    z-index:1000;
    left:-50%;
    top:-50%;
    pointer-events: none;
    display:none;
}
.coordinate-grid {
    border-top:1px solid #FF0000;
    border-left:1px solid #00FF00;
    position:absolute;

}


.coordinate-y {
    transform: matrix(1, 1, -1, 1, 0, 0);
    border-left: 1px solid rgba(0, 80, 255, 0.5);
    margin-top: -2px;
    width: 100%;
    height: 100%;
}

.edit-mode .coordinate-y{
    display:none;
}

.grid-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
.base-grid {
    position:absolute;
}

/*.edit-mode .base-grid:hover{*/
    /*background:greenyellow;*/
/*}*/

/*.edit-mode .base-grid:hover .grid-image{*/
    /*opacity:0.5;*/
/*}*/


/*.house{*/
/*-moz-transform:  matrix(0.666667, 0.66667, -2, 2, 46, -58);*/
/*-webkit-transform:  matrix(0.666667, 0.66667, -2, 2, 46, -58);*/
/*-ms-transform:  matrix(0.666667, 0.66667, -2, 2, 46, -58);*/
/*transform: matrix(0.666667, 0.66667, -2, 2, 46, -58);*/
/*}*/

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active,
.btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #9a9a9a;
    border-color: #8e8e8e;
}

canvas{
    position: absolute;
    top: -35px;
    left: -100px;
    z-index: 1000;
    pointer-events: none;
}
.fog {
    opacity:0.7;
    display:none;
}


.base-grid-marker{
    position:absolute;
    background: rgba(85,255,28,0.1) !important;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgb(233, 255, 7);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(233,255,28,1);
    box-shadow: inset 0px 0px 5px 0px rgba(233,255,28,1);
    border:1px dashed yellow;
    border-radius:10px;
}
.base-grid-selected {
    position: absolute;
    background: rgba(254, 255, 0, 0.3);
    z-index: 9;
    border: 1px dashed white;
}

.selected-map-object {
    opacity:0.6;
}

.selected-inner {
    width: 100%;
    height: 100%;
    background: rgba(65, 255, 0, 0.2);
    padding: 15px;
    border: 5px solid rgb(181, 255, 0)
}


.edit-mode .base-grid-selected {
    border: 2px dashed white;
    opacity:0.6;
}

.edit-mode .selected-inner {
    display:none;
}

.make-block {
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
    border: 3px solid #326f01;
    background: #4a9c03;
}

.make-road {
     width:50%;
     position:absolute;
     right:0;
     top:0;
     height:100%;
     border:3px solid #000;
     background:#333;
 }

.move-player:hover .move-arrow{
    border: 4px dashed #FFFF00;
}

.move-player:hover .move-arrow i{
    color: #FFFF00;
    top:-4px;
}

.move-arrow {
    width: 100%;
    height: 100%;
    position: relative;
    /*display:none;*/
    /*border: 10px dashed rgba(161, 255, 0, 0.7);*/

}

.move-arrow i {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(161, 255, 0, 1);
    font-size: 300%;
    padding-top: 10%;
    width: 100%;
    height: 100%;
}

#grid-container {
    width:100%;
    height:100%;
}

#grid-container .r{
    width:100%;
    position:relative;
}


#grid-container .block{
    background: #A19C73;
    z-index: 1;
    cursor: pointer;
    height:100%;
}

#grid-container .road{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    z-index: 1;
    cursor: pointer;
    height:100%;
}

#grid-container .u{
    background: #333;
    float: left;
    z-index: 1;
    cursor: pointer;
}
#grid-container .d{
    background: #333;
    float: left;
    z-index: 1;
    cursor: pointer;
}

#grid-container .player{
    position: absolute;
    z-index: 99999;
}


.road-01{
    background: url("../img/tiles/road/road_01.jpg") no-repeat center center ;
}
.road-02{
    background: url("../img/tiles/road/road_02.jpg") no-repeat center center ;
}
.road-03{
    background: url("../img/tiles/road/road_03.jpg") no-repeat center center ;
}
.road-04{
    background: url("../img/tiles/road/road_04.jpg") no-repeat center center ;
}
.road-05{
    background: url("../img/tiles/road/road_05.jpg") no-repeat center center ;
}
.road-06{
    background: url("../img/tiles/road/road_06.jpg") no-repeat center center ;
}
.road-07{
    background: url("../img/tiles/road/road_07.jpg") no-repeat center center ;
}
.road-08{
    background: url("../img/tiles/road/road_08.jpg") no-repeat center center ;
}
.road-09{
    background: url("../img/tiles/road/road_09.jpg") no-repeat center center ;
}
.road-10{
    background: url("../img/tiles/road/road_10.jpg") no-repeat center center ;
}
.road-11{
    background: url("../img/tiles/road/road_11.jpg") no-repeat center center ;
}
.road-12{
    background: url("../img/tiles/road/road_12.jpg") no-repeat center center ;
}
.road-13{
    background: url("../img/tiles/road/road_13.jpg") no-repeat center center ;
}
.road-14{
    background: url("../img/tiles/road/road_14.jpg") no-repeat center center ;
}
.road-15{
    background: url("../img/tiles/road/road_15.jpg") no-repeat center center ;
}

.map-object {
    position:absolute;
    padding:5px;
    z-index:999;
    width:100%;
    height:100%;
    pointer-events: none;
}

/*.map-object:hover {*/
    /*padding:0;*/
    /*background: rgba(239, 255, 0, 0.2) !important;*/
    /*-webkit-box-shadow: inset 0px 0px 5px 0px rgb(5, 20, 20);*/
    /*-moz-box-shadow: inset 0px 0px 5px 0px rgb(5, 20, 20);*/
    /*box-shadow: inset 0px 0px 5px 0px rgb(5, 20, 20);*/
    /*border: 5px solid rgba(150,200,200, 0.2);*/
    /*border-radius: 50%;*/
/*}*/

#bot {
    background: transparent url('../img/sprites/bot.png') 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width:64px;
    height:104px;
    z-index: 2000;
    transform:matrix(1, 1,-2,2, 0, 0);
    cursor: pointer;
}

.player-container {
    display:none;
    margin-left: 7px;
    width: 80px;
}

#player {
    background: transparent url('../img/sprites/hero_01.png') 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width:70px;
    height:70px;
    z-index: 2000;
    transform:matrix(1, 1,-2,2, 0, 0);
    cursor: pointer;
}

#dummy-bot-container {
    pointer-events: none;
    display:none;
}
.bot {
    position: absolute;
    top: 0px;
    left: 0px;
    width:64px;
    height:104px;
    z-index: 2000;
    transform:matrix(1, 1,-2,2, 0, 0);
    cursor: pointer;
}
.bot-position {
    -ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5 0.5); /* Safari */
    transform: scale(0.5, 0.5);

    background: rgba(6, 86, 95, 0.8);
    border: 1px solid rgba(0, 34, 39, 0.4);
    font-size: 5px;
    color: #6BEFCC;
    padding: 1px 4px;
    border-radius: 3px;
    letter-spacing: 1px;
    display: inline;
    position: absolute;
    min-width: 36px;
    top: -6px;
    display:none;
}
.point-name {
    color: #fff;
}
.bot-x {
    margin-left:1px;
    color: #37FF00;
}
.bot-y {
    margin-left:1px;
    color: #fff600;
}
.dummy-bot {
    background: transparent url('../img/sprites/bot_02.png') 0 0 no-repeat;
}
.dummy-bot-007 {
    background: transparent url('../img/sprites/bot_03.png') 0 0 no-repeat;
}

.unlocked {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hover-drop{
    background: rgb(54, 114, 7);
    box-shadow: inset 0px 2px 13px rgb(178, 226, 32);
    border-radius: 2px;
}

.sign-thumb {
    border-radius:3px;
    background:black;
    border:2px solid #fff;
    margin-left:5px;
    width:10px;
}




.info-text-container {
    min-height:133px;
    /*font-family:'Anonymous Pro', monospace !important;*/
}

.assistant-info img {
    position:absolute;
    right: 25px;
    top: -37px;
    display:inline;
    width:140px;
}

.info-signs {
    display:none;
    min-height:65px;

}

.info-text-container {
    min-height:210px;
}

.assistant-info .info-signs {
    display:block;
    min-height: 65px;
    padding-left: 10px;
}

.assistant-info .sign-thumb {
    position:initial;
    width:50px;
}

.info-text {
    /*min-height: 200px;*/
}

.assistant-info .info-text {
    padding-right: 165px;
    padding-top: 5px;
    min-height: 96px;
}

.assistant-info .point-info {
    right: 25px;
    top: -37px;
    width: 140px;
    color: #f5c91a;
    background: #0e0e0e;
    padding: 10px;
    border-bottom: 1px solid #2f2e2e;
    text-align: center;
    display:inline-block;
    position: absolute;
}

.point-info {
    display:none;
}

.info-start-point {
    display:none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.info-chose {
    display:none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.info-start-point {
    height:70px;
    position: absolute;
    bottom: 33px;
    left: 0;
    width: 100%;
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}
@keyframes hvr-ripple-out {
    100% {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        opacity: 0;
    }
}
.assistant-container {
    padding:7px;
    margin-top:5px;
    cursor: pointer;
}
.hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    border-radius: 5px;

}
.hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: #f6ff00 solid 1px;
    -webkit-box-shadow:  inset 2px 2px 18px 5px rgba(120, 130, 0, 1), -2px 2px 3px 2px rgba(120, 130, 0, 1);
    box-shadow: inset 2px 2px 18px 5px rgba(120, 130, 0, 1), -2px 2px 3px 2px rgba(120, 130, 0, 1);
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;

}
.ripple-active:before{
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
    -webkit-animation: hvr-ripple-out 0.8s infinite linear;
}


/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-bob-active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 2s;
    animation-duration: .3s, 2s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

/*
    Questions & Answers
*/

.questions {
    padding: 20px 0;
    overflow:hidden;
    border: 1px solid rgba(107, 107, 107, 0.4);
    border-radius: 5px;
    margin: 15px;
    opacity: 0;
}

.questions input[type="radio"] {
    display:none;
}
.questions input[type="radio"] + label {
    color: rgb(222, 222, 222);
    text-shadow: -1px 1px 3px rgba(0,0,0,0.5);
    font-family:Arial, sans-serif;
    font-size:14px;
    cursor: pointer;
    padding-left: 40px;
}

.questions input[type="radio"] + label span {
    display:inline-block;
    width:26px;
    height:26px;
    margin:0 15px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

.questions input[type="radio"] + label span {
    background-color: #3a3a3a;
    border: 2px solid #292929;
}

.questions input[type="radio"]:checked + label span{
    background-color: #1fff00;
}

.questions input[type="radio"] + label span,
.questions input[type="radio"]:checked + label span {
    position: absolute;
    left: 15px;
    top: -3px;
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}

.questions .given-answer {
    margin-top:15px;
}

/*
    Welcome screen
*/


.overlay {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index: 9999;
}

.start-menu {
    margin-top: 100px;

}

.start-menu p {
    min-height: 130px;
    padding:30px 15px;
}
.start-menu .welcome-text-container{
    height:175px;
}

.start-menu .btn{
    display:none;
}
.disabled-content {
    pointer-events: none;
}

.start-assistant-container {
    display:none;
}



/*
    STATS
*/

.search-container {
    padding-top: 15px;
    position:relative;
}

.search-container input{
    padding-right: 40px !important
}

.search-container .glyphicon-search {
    position:absolute;
    top: 25px;
    right: 15px;
}

.users {
    height: 310px;
    margin-top: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user.active {
    border: 1px solid #fff;
    background: #444444;
}

.user.active > .user-name {
    background: #191919;
    color: white;
}

.user {
    border: 1px solid #555;
    padding: 10px;
    background: #1f1e1e;
    border-radius: 5px;
    margin-top: 5px;
    color: #cacaca;
    position:relative;
    min-height:72px;
    cursor: pointer;
}

.user:hover {
    border: 1px solid #848484;
}

.user img {
    max-width: 50px;
    max-height: 50px;
    min-width:50px;
    min-height:50px;
    border-radius: 4px;
    box-shadow: 0 2px 4px #101010
}

.user .user-name {
    position: absolute;
    left: 72px;
    top: 9px;
    border: 1px solid #101010;
    height: 52px;
    background: #272727;
    width: calc(100% - 83px);
    padding: 14px 15px;
    border-radius: 4px;
}



/*

    User stats

*/

.stats-container .user-stats {
    position: absolute;
    right: 24px;
    top: 15px;
    font-size: 30px;
}

.stats-container .user-stats-label {
    font-size: 15px;
    position: absolute;
    top: 13px;
    left: 0;
}
.stats-container .win-rating {
    color:green;
}

.stats-container .percentage {
    font-size: 24px;
    margin-left: 5px;
}


.stats-container .question {
    position:relative;
}

.stats-container h4{
    margin-top: 15px;
    padding: 15px;
    height:auto;
}

.stats-container .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background:#444;
}

.stats-container .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #5f5f5f;
    background: #252525;
}

.stats-container .table {
    border: 1px solid #444;
}

.stats-container .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #e4e2e2;
}

.stats-container h5{
    background: #1f1f1f;
    height: 37px;
    border: 1px solid #444;
    border-bottom: 0;
    padding: 10px;
    margin-bottom: 0;
    color: #ffc16e;
}

.stats-container .section-percentage {
    position: absolute;
    top: 9px;
    left: 125px;
}

.stats-container .high-percentage {
    color: #1fff00;
}
.stats-container .average-percentage {
    color: yellow;
}
.stats-container .low-percentage {
    color: #ff0000;
}

.stats-container .answered-questions {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffc0;
}

.stats-container .sign-img {
    background: #292929;
    border-radius: 5px;
    max-width: 60px;
    padding: 5px;
    border: 1px solid #565656;
    display: block;
    margin-top: 5px;
}

.stats-container .given-answer-indicator {
    background-color: #3a3a3a;
    border: 2px solid #292929;
    width: 25px;
    height: 25px;
    display: inline-block;;
    border-radius:50%;
}

.stats-container .correct-answer {
    background-color: #1fff00;
}
.stats-container .wrong-answer {
    background-color: #ff0000;
}




.question-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    margin-top: -11px;
    margin-left: 15px;
    margin-bottom: 5px;
    background: #545353;
    display: block;
}

.questions-list .question-image {
    margin-top:10px;
    margin-left:0;
}

.questions-container h1 {
    color: white;
    background: #11424e;
    padding: 25px;
    border: 1px solid #ddd;
    margin: 30px 0;
    font-size: 22px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.questions-container .correct-answer {
    background: #d4ffd8;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #a8d49d;
    margin-bottom: 5px;
}

.questions-container .answer {
    background: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
    color:#666;
}

.questions-container .question {
    background: #fffdec;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #e4da91;
}

.admin-body .user {
    background:#fff;
    border:1px solid rgba(0,0,0,0.1);
}

.admin-body .user.active > .user-name {
    border:1px solid #cccccc;
}

.admin-body .user .user-name{
    border:1px solid #eaeaea;
    background: #f4f4f4;
    color: #666;
}

.admin-body .user .user-name .user-group {
    color: #289e9b;
    padding: 2px 4px;
    background-color: white;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #e6e6e6;
}

.admin-body .user .remove-user {
    border-radius: 50%;
    background-color: #c5c5c5;
    padding: 1px 5px;
    position: absolute;
    right: 20px;
    top: 23px;
    color: #fff;
    cursor: pointer;
}

.admin-body .user .view-results {
    position: absolute;
    border-radius: 50%;
    background-color: #2b994f;
    padding: 3px 5px;
    right: 50px;
    font-size: 14px;
    top: 20px;
    border: 1px solid #217f3b;
    color: #fff;
    cursor: pointer;
}
.admin-body .user .view-results:hover {
    background-color: #35bd65;
}

.admin-body .user .remove-user:hover {
    background-color: #f95624;
}

.admin-body .base-container{
    background: #ededed;
}
.admin-body .base-container h3{
    background: #dfdfdf;
    color: #777;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 17px;
}

.admin-body .base-container input[type="text"] {
    background:#fff;
    color:#222;
}

.admin-body .current-student {
    margin: 15px 0 0 0;
    color: #2992c7;
}
.add-student input {
    margin-top:5px;
}
.nav-tabs {
    border-bottom:0;
}
.nav-tabs>li {
    margin-bottom:0;
}

.nav-tabs>li>a {
    border-radius:0;
    margin-right:1px;
    background-color:#dedede;
    padding-left:35px;
    border:0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border:0;
}

.nav-tabs .add-exam-icon {
    color: #2b994f;
    font-size: 20px;
    position: absolute;
    left: 10px;
}

.nav-tabs .exams-list-icon {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 18px;
    color: #e6981a;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color:#ededed;
}

.tab-content>.tab-pane {
    padding:15px;
}

.exams-table {
    background-color:#fff;
    border:1px solid rgba(0,0,0,0.15);
}

.exams-table>thead>tr>th {
   border-bottom:1px solid rgba(0,0,0,0.15);
}

.exams-table .variant {
    color: #a7e1ff;
    margin-left: 10px;
    background-color: #2d2d2d;
    padding: 4px 10px;
    border-radius: 10px;
    border: 1px solid #486573;
}

.exams-table .section {
    background-color: #444;
    color: white;
    font-weight:normal;
}
.admin-body .tab-content{
    background-color:#ededed;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 22px;
        padding-bottom: 22px;
        box-sizing: border-box;
    }
}
