<widget src="scripts/widgets/controlmenu/controlmenu.js"></widget>
<widget src="scripts/widgets/editmenu/editmenu.js"></widget>
<widget src="scripts/widgets/tilemenu/tilemenu.js"></widget>
<widget src="scripts/widgets/infomenu/infomenu.js"></widget>

<div class="container edit-mode">
    <div class="row">
        <div class="col-sm-12" id="get-size">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 grid-map-transform" style="padding:0;">
                    <widget src="scripts/widgets/coordinates/coordinates.js"></widget>
                    <widget src="scripts/widgets/assistant/assistant.js"></widget>
                    <widget src="scripts/widgets/player/player.js"></widget>
                    <widget src="scripts/widgets/editormap/editormap.js"></widget>
                </div>

            </div>

        </div>

    </div>

</div>
