
<widget src="scripts/widgets/welcome/welcome.js"></widget>
<div class="container game-mode">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="get-size">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 grid-map-transform" style="padding:0;">
                    <widget src="scripts/widgets/assistant/assistant.js"></widget>
                    <widget src="scripts/widgets/player/player.js"></widget>
                    <widget src="scripts/widgets/editormap/editormap.js"></widget>
                </div>

            </div>
        </div>


    </div>

</div>
<!--<widget src="scripts/widgets/playerquestions/playerquestions.js"></widget>-->
<widget src="scripts/widgets/questions/questions.js"></widget>
<widget src="scripts/widgets/infomenu/infomenu.js"></widget>
<widget src="scripts/widgets/playermenu/playermenu.js"></widget>
