<widget src="scripts/widgets/controlmenu/controlmenu.js"></widget>
<widget src="scripts/widgets/editmenu/editmenu.js"></widget>
<widget src="scripts/widgets/tilemenu/tilemenu.js"></widget>

<div class="container no-select">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="get-size">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 grid-map-transform" style="padding:0;">
                        <widget src="scripts/widgets/coordinates/coordinates.js"></widget>
                        <widget src="scripts/widgets/bot/bot.js"></widget>
                        <widget src="scripts/widgets/dummybots/dummybots.js"></widget>
                        <widget src="scripts/widgets/gridmap/gridmap.js"></widget>
                </div>

            </div>

        </div>

    </div>

</div>
