<div class="container start-image" id="home-container">
    <div class="row">
            <div class="col-sm-12 text-center">
                <div class="base-container">
                    <h1>Безопасност на движението<br> по пътищата</h1>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-8">
                <widget src="scripts/widgets/users/users.js"></widget>
            </div>
            <div class="col-md-4 col-md-offset-8 text-center">
                <widget src="scripts/widgets/startmenu/startmenu.js"></widget>
            </div>


    </div>

</div>











